/* Prefer using " over ' and escaping otherwise due to the CSS injection in base. See base for extra details. */

/* AMO Promo CSS, remove when done. */
div.amopromo {
    margin-bottom: 1em;
}
div.amopromo a, div.amopromo a:hover {
    text-decoration: unset;
    color: unset;
}
div.amopromo .psdle_btn {
    margin: unset;
}
div.amopromo .psdle_btn:hover {
    margin: unset;
}
div.amopromo > div {
    font-size: small;
}

/* Undo Valkyrie overrides, in a NON-GREEDY WAY */

.valkyrie #lang_select,
.valkyrie #export_table select,
.valkyrie #export_table input {
    height: unset;
    padding: unset;
    margin: unset;
    width: unset;
    display: unset;
}


/*Startup        */
.psdle_logo {
    display: inline-block;
    width: 84px;
    height: 31px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAAAfCAYAAAEO89r4AAABaUlEQVRoge2XS27CQAyGPSVSUVErdqzpMqveiRvALnu67Gl6D+gFuAKIPgQrs0o1TJSJJ7aJBvnbRXE8f357XoCIGyTiEBFf33+BwgMpyg/eVRNSsENEpAQWMa27agL1e7JWcmCSVSG+tF6jp1D4o/qkqN8un+Bl7JpJUxP5vH38XT2T655CtEf6olKoaFLq3ElK2heRlgq//U/KKVj4rcrvs+Y+h7Z1ow2Vv9eg6A5p53MxhnI2an0vWSmW0HI2EhUTI5vSN4T2Xem0ycZRh4h7AJgOLaQLlf1ega2br3/IQlMW6TA2dYEPc2XToyZUGtbOdMs1lyX0lqeubEpvQqVp9GhsghxPOpvY8yPA1yo+MRtCh7iWfJ/j49rOpEE2QnM55h1U7/Wcox0nb+y9lqY6dzYtmgtmqDBmqDBmqDCDGcq5Ew5xCqViHSqMGSqMGSqMGSpMp6H3unloYR0qjBkqjBkqjBkqzAUtBKxj5lT3GAAAAABJRU5ErkJggg==");
}
.startup {
    z-index: 10000;
    position: fixed;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 10px #FFF;
}
/*I wanted to use z-index:calc(9999 + 1) as a joke but Chrome already has enough reflow issues*/
#muh_games_container {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    color: #000;
    z-index: 10000;
    text-align: center
}
#sub_container {
    padding: 20px;
    background-color: #fff
}
/*Progress bar  */
#startup_progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 400px;
    height: 16px;
    border: 1px solid #999;
    overflow: hidden;
    border-radius: 10px;
    margin: 10px;
    color: #2185f4 !important;
}
#startup_progress::-moz-progress-bar { background-color: #2185f4 !important; }
#startup_progress::-webkit-progress-value { background-color: #2185f4 !important; }

.psdle_btn {
    background-color: #2185f4
}

.psdle_btn {
    cursor: pointer;
    border-radius: 13px;
    color: #fff;
    padding: 1px 15px;
    display: inline-block;
    margin: 5px auto
}

.psdle.tagline {
    font-size: small
}
.psdle.tagline > a,
.psdle.tagline > button {
    line-height: 0;
    cursor: pointer;
    color: #7F6D75 !important;
}
.psdle.tagline > a:hover,
.psdle.tagline > button:hover {
    color: inherit !important;
    text-decoration: underline;
}

/* New search */
.search.options.syntax {
    display: block;
    text-align: center;
    width: 500px;
    margin: auto;
    margin-bottom: 1em;
    border: none;
    border-bottom: 1px solid black;
}
.search.options.filter.container {
    display: inline-block;
    background-color: #2185f4;
    color: #fff;
    margin: 0px 0.3em;
    cursor: default;
}
.search.options.filter.container .value {
    display: inline-block;
    padding: 0 0.2em;
    text-align: center;
}
.search.options.filter.container.system .value {
    background-color: red;
}
.search.options.filter.container.category .value {
    background-color: green;
}
.search.options.filter.close {
    display: inline-block;
    color: #fff;
    padding: 0px 0.3em;
    cursor: pointer;
}
.search.options.filter.close:hover {
  background-color:rgba(255,51,0,0.8)
}
.search.options.container {
    margin-bottom:20px;
}

/*Search options */
.search.main.container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 15px 0;
    background-color: rgba(255, 255, 255, .8);
    z-index: 10000
}
.search.input.plus {
    cursor: pointer !important;
}
.search.export {
    display: inline;
    width: 95%;
    max-width: 600px;
}


/*Table          */

.psdle_table, table {
    text-align: left;
    display: inline-block;
    border-collapse: initial;
}
th[id^=sort] {
    cursor: pointer
}
th[id^=sort]:hover {
    background-color: rgb(98, 165, 240);
}
th {
    padding: 5px !important;
    background-color: #2185F4;
    color: #fff;
    border: none;
    transition: background-color 0.3s
}
tr:hover {
    background-color: rgba(33, 133, 244, .7)!important
}
.valkyrie td {
    padding: 0px;
  border:none
}
td a.psdle_game_link {
    display: block;
    width: 100%;
    height: 100%;
    color: #000;
    padding: 8px !important
}
.psdle_game_icon.is_plus {
    background-color: #FFD10D
}
tr[id^=psdle_index_].is_plus td:last-child {
    border-right: #FFD10D 3px solid
}
tr:nth-child(2n) {
    background-color: #EEE
}
td {
  text-align: center;
}
th:nth-child(2),
td:nth-child(2) {
  text-align:left !important;
}

/*Search buttons */

#psdle_search_select,
#psdle_search_text {
    font-size: large;
    padding: 5px 10px;
    border: 1px solid #F0F0F0;
    display: inline-block;
    width: auto;
}
#psdle_search_select {
    background-color: #F0F0F0;
    text-align: center
}
#psdle_search_text {
    font-size: large;
    max-width: 480px;
    width: 100%
}
.negate_regex {
    background-color: #FF8080 !important;
    color: #fff
}
.psdle_fancy_bar>button,
button#export_view,
button[id^=dl_],
button[id^=filter_],
button[id^=system_],
.psdle_fancy_but {
    font-weight: 700;
    font-size: 0.9em;
    line-height: unset;
    color: #fff;
    background-color: #2185f4;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 5px;
    padding: 1px 10px;
    cursor: pointer;
}
.psdle_fancy_but {
    border-radius: 12px
}
#muh_games_container:not(.rtl) .psdle_fancy_bar > button:first-of-type {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px
}
#muh_games_container:not(.rtl) .psdle_fancy_bar > button:last-of-type {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px
}
.toggled_off {
    background-color: rgba(33,133,244,0.4) !important;
}
/*Search borders */

#muh_games_container:not(.rtl) #psdle_search_select {
    border-radius: 90px 0px 0px 90px
}
#psdle_search_text {
    border-radius: 0px 90px 90px 0px
}
/*Content icons  */

.psdle_game_icon {
    max-width: 100%;
    vertical-align: middle;
    padding: 3px;
    width: 42px;
    height: 42px
}
/*Sorting        */

.psdle_sort_Asc,
.psdle_sort_Desc {
    float: right;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent
}
.psdle_sort_Asc {
    border-bottom: 5px solid #fff
}
.psdle_sort_Desc {
    border-top: 5px solid #fff
}
/*Newbox         */

#dlQARating,
#dlQAStat {
    color: #fff;
    background-color: rgba(33, 133, 244, .8);
    font-size: small
}
#dlQueueAsk {
    width: 400px;
    height: 400px
}
#dlQAN {
    /*cursor: move;*/

    background-color: rgba(33, 133, 244, .8);
    padding: 7px 15px;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}
#dlQASys {
    position: absolute;
    bottom: 0;
    padding: 7px 0;
    color: #FFF;
    display: table;
    width: 100%;
    table-layout: fixed
}
#dlQASys > div {
    display: table-cell
}
#dlQASys > div > button {
    color: #fff;
    line-height: unset;
    background-color: rgba(33, 133, 244, .8);
    border-radius: 10px;
    padding: 2px;
    margin: 0 10px;
    box-shadow: 0 0 30px #000;
    transition: background-color 0.5s, box-shadow 0.5s;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}
#dlQASys>div>div:hover {
    background-color: rgba(33, 133, 244, 1);
    box-shadow: 0 0 30px rgba(33, 133, 244, 1);
}
#dlQAStat {
    border-bottom-left-radius: 20px;
    padding: 0 10px 0 15px;
    float: right
}
#dlQARating {
    border-bottom-right-radius: 20px;
    padding: 0 15px 0 10px;
    float: left
}
.success {
    background-color: #237423 !important;
}
.failure {
    background-color: #a43636 !important;
}

/*Newbox Extended*/

#dlQueueExt {
    overflow: hidden;
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 40px;
    font-size: .8em;
    background-color: rgba(33, 133, 244, .8);
    padding: 10px;
    border-radius: 9px;
    top: 66px;
    text-align: left
}
/*Overlays       */

.cover,
.cover>div>div {
    background-size: cover
}
.cover {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: table;
    background-color: rgba(0, 0, 0, .25);
    background-position: center
}
.cover>div {
    display: table-cell;
    vertical-align: middle;
    height: inherit;
    text-align: center
}
.cover>div>div {
    box-shadow: 0 0 30px #000;
    display: inline-block;
    background-color: #FFF;
    border-radius: 20px;
    overflow: hidden;
    position: relative
}
/*Export         */

#export_select {
    padding: 10px;
    background-color: #fff;
    color: #000
}
#export_select>div {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 490px
}
#export_table {
    width: 100%
}
#export_table th {
    text-align: center
}
#export_table .orderUp {
    cursor: pointer;
    height:1em;
    border-left: 0.4em solid transparent;
    border-right: 0.4em solid transparent;

    border-bottom: 0.9em solid rgba(0,0,0,0.2);
    display: inline-block;
    padding: 1px;
    margin: 0px 3px;
}
#export_table .orderUp:hover {
    border-bottom-color: black;
}

/*PS+ switch     */

#slider,
.handle {
    display: inline-block
}
#slider {
    vertical-align: bottom;
    cursor: pointer;
    width: 30px;
    height: 12px;
    border-radius: 10px;
    border: 2px solid #F0F0F0
}
.handle_container {
    text-align: center;
    width: 100%;
    height: 100%
}
.handle {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 0 2px 6px;
    border: 1px solid #FFF;
    background-color: #85C107
}
/*Tooltips       */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

[data-tooltip]:before {
  --width: 300px;
  position: absolute;
  top: 150%;
  left: 50%;
  margin-left: calc(var(--width)/2*-1);
  padding: 7px;
  width: var(--width);
  border-radius: 3px;
  background-color: rgba(33,133,244,0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 0.9em;
  line-height: 1.2;
  box-shadow: 0px 0px 10px #FFF;
}

[data-tooltip]:after {
  position: absolute;
  top: calc(150% - 5px);
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-bottom: 5px solid rgba(33,133,244,0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}

/*Autocomplete   */

.ui-autocomplete {
    z-index: 9002;
    max-width: 590px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden
}
.ui-menu {
    position: fixed;
    border: 2px solid #F0F0F0;
    border-top: none;
    background-color: #fff
}
.ui-menu>.ui-menu-item * {
    color: #000;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer
}
.ui-menu>.ui-menu-item:nth-child(even) {
    background-color: #e6e6e6
}
.ui-menu-item .ui-state-focus {
    display: inline-block;
    width: 100%;
    color: #000;
    background-color: rgba(33, 133, 244, .7)
}
/*PS TV          */

.psdletv {
    font-style: italic;
    font-weight: 700;
    font-size: .6em;
    vertical-align: text-top;
    position: absolute;
    top: 4px
}
/*PSP2           */

.psp3 {
    border-left: 2px solid #2185F4;
    border-right: 2px solid #2185F4
}
.psp2 {
    background-color: rgba(33, 133, 244, .15)!important
}
/* RTL Languages */
/*Container */

#muh_games_container.rtl {
    direction: rtl
}
/*Search    */

.rtl #psdle_search_select {
    border-radius: 0px 90px 90px 0px
}
.rtl #psdle_search_text {
    border-radius: 90px 0px 0px 90px
}
/*Fancy Bar */

.rtl .psdle_fancy_bar span:last-of-type {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px
}
.rtl .psdle_fancy_bar span:first-of-type {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px
}
/*Table     */

.rtl .psdle_table * {
    text-align: right;
}

/*PS+       */

.rtl tr.is_plus[id^='psdle_index_'] td:last-child {
    border-right: none;
    border-left: #FFD10D 3px solid
}
/* Night mode */

.psdledark #sub_container {
    background-color: #222;
    color: rgb(231, 231, 231)
}
.psdledark a.psdle_game_link {
    color: rgb(231, 231, 231)
}
.psdledark .search.main.container {
    background-color: rgba(34, 34, 34, 0.7)
}
.psdledark tr {
    background-color: rgb(34, 34, 34)
}
.psdledark tr:nth-child(2n) {
    background-color: rgb(57, 57, 57)
}
