/* Undo Valkyrie overrides, in a NON-GREEDY WAY */

#muh_games_container.valkyrie select,
#muh_games_container.valkyrie input {
    height: initial;
    padding: initial;
    margin: initial;
    width: initial;
    display: initial;
}


/*Startup        */
#psdle_start {
    z-index: 9001;
    width: 84px;
    height: 31px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 10px #FFF
}
#muh_games_container {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    color: #000;
    z-index: 9001;
    text-align: center
}
#sub_container {
    padding: 20px;
    background-color: #fff
}
#psdle_bar,
.psdle_btn {
    background-color: #2185f4
}
#psdle_progressbar {
    overflow: hidden;
    display: inline-block;
    width: 400px;
    height: 16px;
    border: 1px solid #999;
    margin: 10px;
    border-radius: 10px
}
#psdle_bar {
    width: 0;
    height: 100%;
    border-radius: 10px
}
.psdle_btn {
    cursor: pointer;
    border-radius: 13px;
    color: #fff;
    padding: 1px 15px;
    display: inline-block;
    margin: 5px auto
}
.psdle_tiny_link {
    line-height: 0;
    cursor: pointer;
    color: #7F6D75 !important;
    font-size: x-small
}
.psdle_tiny_link:hover {
    color: #000!important;
    text-decoration: underline
}
/*Search options */

#search_options {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 15px 0;
    background-color: rgba(255, 255, 255, .8);
    z-index: 9001
}
/*Table          */

.psdle_table, table {
    text-align: left;
    display: inline-block;
    border-collapse: initial;
}
th[id^=sort] {
    cursor: pointer
}
th[id^=sort]:hover {
    background-color: rgb(98, 165, 240);
}
th {
    padding: 5px !important;
    background-color: #2185F4;
    color: #fff;
    border: none;
    transition: background-color 0.3s
}
tr:hover {
    background-color: rgba(33, 133, 244, .7)!important
}
.valkyrie td {
    padding: 0px;
  border:none
}
td a.psdle_game_link {
    display: block;
    width: 100%;
    height: 100%;
    color: #000;
    padding: 8px !important
}
.psdle_game_icon.is_plus {
    background-color: #FFD10D
}
tr[id^=psdle_index_].is_plus td:last-child {
    border-right: #FFD10D 3px solid
}
tr:nth-child(2n) {
    background-color: #EEE
}
td:nth-child(n+3):nth-child(-n+7),
th:nth-child(n+3):nth-child(-n+7) {
    text-align: center;
    padding: 0 5px !important;
    position: relative
}
td:first-child {
    text-align: center;
    position: relative
}
/*Search buttons */

#psdle_search_select,
#psdle_search_text {
    font-size: large;
    padding: 5px 10px;
    border: 1px solid #F0F0F0;
    display: inline-block;
    width: auto;
}
#psdle_search_select {
    background-color: #F0F0F0;
    text-align: center
}
#psdle_search_text {
    font-size: large;
    max-width: 480px;
    width: 100%
}
.negate_regex {
    background-color: #FF8080;
    color: #fff
}
.psdle_fancy_bar>span,
span#export_view,
span[id^=dl_],
span[id^=filter_],
span[id^=system_] {
    font-weight: 700;
    font-size: 0.9em;
    color: #fff;
    background-color: #2185f4;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 5px;
    padding: 1px 10px;
    cursor: pointer
}
.psdle_fancy_but {
    border-radius: 12px
}
#muh_games_container:not(.rtl) .psdle_fancy_bar>span:first-of-type {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px
}
#muh_games_container:not(.rtl) .psdle_fancy_bar > span:last-of-type {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px
}
.toggled_off {
    opacity: .4
}
/*Search borders */

#muh_games_container:not(.rtl) #psdle_search_select {
    border-radius: 90px 0px 0px 90px
}
#psdle_search_text {
    border-radius: 0px 90px 90px 0px
}
/*Content icons  */

.psdle_game_icon {
    max-width: 100%;
    vertical-align: middle;
    padding: 3px;
    min-width: 42px;
    min-height: 42px
}
/*Sorting        */

.psdle_sort_asc,
.psdle_sort_desc {
    float: right;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent
}
.psdle_sort_asc {
    border-bottom: 5px solid #fff
}
.psdle_sort_desc {
    border-top: 5px solid #fff
}
/*Newbox         */

#dlQARating,
#dlQAStat {
    color: #fff;
    background-color: rgba(33, 133, 244, .8);
    font-size: small
}
#dlQueueAsk {
    width: 400px;
    height: 400px
}
#dlQAN {
    /*cursor: move;*/
    
    background-color: rgba(33, 133, 244, .8);
    padding: 7px 15px;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}
#dlQASys {
    position: absolute;
    bottom: 0;
    padding: 7px 0;
    color: #FFF;
    display: table;
    width: 100%;
    table-layout: fixed
}
#dlQASys>div {
    display: table-cell
}
#dlQASys>div>div {
    cursor: pointer;
    background-color: rgba(33, 133, 244, .8);
    border-radius: 10px;
    padding: 2px;
    margin: 0 10px;
    box-shadow: 0 0 30px #000;
    transition: background-color 0.5s, box-shadow 0.5s
}
#dlQASys>div>div:hover {
    background-color: rgba(33, 133, 244, 1);
    box-shadow: 0 0 30px rgba(33, 133, 244, 1);
}
#dlQAStat {
    border-bottom-left-radius: 20px;
    padding: 0 10px 0 15px;
    float: right
}
#dlQARating {
    border-bottom-right-radius: 20px;
    padding: 0 15px 0 10px;
    float: left
}
.success {
    background-color: #237423 !important;
}
.failure {
    background-color: #a43636 !important;
}

/*Newbox Extended*/

#dlQueueExt {
    overflow: hidden;
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 40px;
    font-size: .8em;
    background-color: rgba(33, 133, 244, .8);
    padding: 10px;
    border-radius: 9px;
    top: 66px;
    text-align: left
}
/*Overlays       */

.cover,
.cover>div>div {
    background-size: cover
}
.cover {
    z-index: 9001;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: table;
    background-color: rgba(0, 0, 0, .25);
    background-position: center
}
.cover>div {
    display: table-cell;
    vertical-align: middle;
    height: inherit;
    text-align: center
}
.cover>div>div {
    box-shadow: 0 0 30px #000;
    display: inline-block;
    background-color: #FFF;
    border-radius: 20px;
    overflow: hidden;
    position: relative
}
/*Export         */

#export_select {
    padding: 10px;
    background-color: #fff;
    color: #000
}
#export_select>div {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 490px
}
#export_table {
    width: 100%
}
/*PS+ switch     */

#slider,
.handle {
    display: inline-block
}
#slider {
    vertical-align: bottom;
    cursor: pointer;
    width: 30px;
    height: 12px;
    border-radius: 10px;
    border: 2px solid #F0F0F0
}
.handle_container {
    text-align: center;
    width: 100%;
    height: 100%
}
.handle {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 0 2px 6px;
    border: 1px solid #FFF;
    background-color: #85C107
}
/*Tooltips       */

.tooltip-inner {
    background-color: #2185F4!important;
    border: 5px solid #2185F4!important
}
.tooltip-arrow {
    border-top-color: #2185F4!important
}
.tooltip.in {
    opacity: 1!important
}
/*Tooltips 2     */

.ui-tooltip {
    direction: rtl;
    max-width: 234px;
    z-index: 9002;
    background-color: #2185F4;
    font-size: 22px;
    text-align: center;
    line-height: 1.4em;
    padding: 12px;
    border-radius: 4px
}
/*Autocomplete   */

.ui-autocomplete {
    z-index: 9002;
    max-width: 590px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden
}
.ui-menu {
    position: fixed;
    border: 2px solid #F0F0F0;
    border-top: none;
    background-color: #fff
}
.ui-menu>.ui-menu-item * {
    color: #000;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer
}
.ui-menu>.ui-menu-item:nth-child(even) {
    background-color: #e6e6e6
}
.ui-menu-item .ui-state-focus {
    display: inline-block;
    width: 100%;
    color: #000;
    background-color: rgba(33, 133, 244, .7)
}
/*PS TV          */

.psdletv {
    font-style: italic;
    font-weight: 700;
    font-size: .6em;
    vertical-align: text-top;
    position: absolute;
    top: 4px
}
/*PSP2           */

.psp3 {
    border-left: 2px solid #2185F4;
    border-right: 2px solid #2185F4
}
.psp2 {
    background-color: rgba(33, 133, 244, .15)!important
}
/* RTL Languages */
/*Container */

#muh_games_container.rtl {
    direction: rtl
}
/*Search    */

.rtl #psdle_search_select {
    border-radius: 0px 90px 90px 0px
}
.rtl #psdle_search_text {
    border-radius: 90px 0px 0px 90px
}
/*Fancy Bar */

.rtl .psdle_fancy_bar span:last-of-type {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px
}
.rtl .psdle_fancy_bar span:first-of-type {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px
}
/*Table     */

.rtl #muh_table {
    text-align: right !important
}
/*PS+       */

.rtl tr.is_plus[id^='psdle_index_'] td:last-child {
    border-right: none;
    border-left: #FFD10D 3px solid
}
/* Night mode */

.psdledark #sub_container {
    background-color: #222;
    color: rgb(231, 231, 231)
}
.psdledark a.psdle_game_link {
    color: rgb(231, 231, 231)
}
.psdledark #search_options {
    background-color: rgba(34, 34, 34, 0.7)
}
.psdledark tr {
    background-color: rgb(34, 34, 34)
}
.psdledark tr:nth-child(2n) {
    background-color: rgb(57, 57, 57)
}
